@model OnlineTests.WebUI.Models.TestsListViewModel
@{
    ViewBag.Title = "ონლაინ ტესტები";
    Layout = "~/Views/Shared/_TestsLayout.cshtml";
}

<div class="pull-right">
    <span class="lead">სირთულის დონე: </span>
    <div class="btn-group">
        @Html.ActionLink("ნებისმიერი", "List", new { page = 1, category = Model.CurrentCategory, level = (int?)null }, new { @class="btn " + (Model.CurrentLevel==null?"btn-primary":"btn-default") })
        @Html.LavelLinks(Model.CurrentLevel!=null?(int)Model.CurrentLevel:0, x=>Url.Action("List",new {page=1,category=Model.CurrentCategory,level=x}))
    </div>
</div>
<br /><br /><br /><br />
@foreach (var t in Model.Tests)
{
     @Html.Partial("TestSumarry",t)
}

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo,x=>Url.Action("List",new {page=x,category=Model.CurrentCategory, level=Model.CurrentLevel}))
</div>
